#comment__form
  = form_with model: [@calendar,@comment], id: "comment__form--new", local: true do |f|
    .formField
      .formField__input
        = f.text_area :text, maxlengs: "50", placeholder: 'コメントを入力してください'
      .formField__submit
        = f.button class: 'comment__submit', type: 'submit' do
          =icon('fab', 'telegram')