.error_explanation{class: 'alert alert-warning'}
  %h2{class: "font-weight-bold"}
    = "#{@event.errors.full_messages.count}件のエラーが発生しました。"
  %ul{class: 'text-dark text-break'}
    - @event.errors.full_messages.each do |message|
      %li= message