.calendar{class: "container d-flex flex-column"}
  .day-of-the-week{class: "d-flex flex-row justify-content-start"}
    .day-week
      日
    .day-week
      月
    .day-week
      火
    .day-week
      水
    .day-week
      木
    .day-week
      金
    .day-week
      土
  #weeks
  