.header{class: "container d-flex justify-content-between"}
  .header-left{class: "d-flex justify-content-between"}
    .tittle
      タイトル
    .user{class: "ml-5"}
      みつひろ

  .header-right
    .group
      .members
        みつひろ