.menu{class: "container d-flex justify-content-between"}
  .left__items{class: "d-flex justify-content-around align-items-center"}
    %button#plan__btn{class: "btn"}
      = icon('fas', 'edit')
      -# = link_to new_calendar_plan_path(params[:id]) do

    .year__contents{class: "d-flex justify-content-around align-items-center ml-5"}
      #previous
        = icon('fas', 'caret-square-left')
      #next{class: "mx-3"}
        = icon('fas', 'caret-square-right')
      #yearMonth__btn{class: "btn btn-light"}

  .right__items 
    .change__contents{class: "d-flex justify-content-around"}
      #today{class: "btn btn-light"}
        今日
      #change__year{class: "btn btn-light"}
        年
      #change__month{class: "btn btn-light"}
        月