.main
  = render "header"
  = render "menu"
  = render  partial: "events/new", locals: { calendar: @calendar }

.main__contents{data: {"turbolinks":"false"}}
  #side__bar--second
    = render "comments/index"

  #main__calendar
    #calendar