// 全体のレイアウト
.main__contents {


  #side__bar {
    width: 15%;
  }

  #side__bar--second {
    width: 15%;

    &.open {
      width: 25%;
    }
  }

  #main__calendar {
    width: 70%;
    &.open {
      width: 60%;
    }
  }
}


// -------------------------------------------
// ヘッダー
.header {
  height: 50px;
  font-family: cursive;

  .header__left {

    .tittle {
      font-weight: bold;
      font-size: x-large;
    }
  }
  .fas {
    color: #00BCD4;
    font-size: large;
  }
}

// -------------------------------------------
//ユーザー編集アイコンのマウスオーバー時の設定

/* 吹出口部分を表示 */
.user__edit .pop:before{
  @include popOutlet-bottom();
  top: -25%;
  left: 70%;
}
/* 基準位置の設定 */
.user__edit {
  position: relative;

    // マウスオーバーアクション用にpopクラスのspanタグを隠す
  span {
    display:none;
    @include pop();
  }
  /* マウスオーバー時にpopを表示 */
  &:hover .pop {
    display: block;
    color: white;
    width: 80px;                          /* 吹き出し全体の幅 */
    right : -40%;                           /* 表示位置 */
    top: 160%;                           /* 表示位置 */
  }
}

// --------------------------------------------
// メニュー
.menu {
  height: 50px;
  align-items: center;
  
  .fas {
    color: #00BCD4;
    font-size: large;
  }

  .left__items {
    width: 400px;
  }

// 予定作成アイコン
  #event__btn {
    position: relative;
    cursor: pointer;
    user-select: none;

    span {
      display:none;
      @include pop();
      padding: 5px 0;
      width: 50px;
      top: 20%;
      left: 90%;
    }
    
    &:hover .pop {
      display: block;
    }
  }
  #event__btn .pop:before{
    @include popOutlet-right();
  }

// コメント作成アイコン
  #comment__btn {
    position: relative;
    cursor: pointer;
    user-select: none;

    span {
      display:none;
      @include pop();
      padding: 5px 0;
      width: 70px;
      top: 10%;
      left: 100%;
    }
    
    &:hover .pop {
      display: block;
    }
  }
  #comment__btn .pop:before{
    @include popOutlet-right();
    left: -10%;
  }

// --------------------------------------
// カレンダー作成アイコンのpop
#calendar__add {
  position: relative;

  span {
    @include pop();
    display:none;
    width: 110px;
    bottom: 160%;
    right: -230%;
  }

  &:hover .pop {
    display: block;
  }
}
#calendar__add .pop:before{
  border-top: 10px solid #00BCD4; /* 吹き出し口の高さ・色 */
  border-left: 5px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 5px solid transparent;   /* 吹き出し口の幅１／２ */
  top: 100%;                             /* 吹き出し口の位置調整 */
  left : 55%;                              /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

// カレンダー編集アイコンのpop
#calendar__edit {
  position: relative;

  span {
    @include pop();
    display:none;
    width: 110px;
    bottom: 160%;
    right: -220%;
  }

  &:hover .pop {
    display: block;
  }
}
#calendar__edit .pop:before{
  @include popOutlet-top();
  top: 100%;
  left: 55%;
}


// カレンダー切替アイコン
.calendar__list .pop:before{
  @include popOutlet-top();
  top: 100%;
  left: 55%;
}

.calendar__list {
  position: relative;

  span {
    @include pop();
    display:none;
    width: 110px;
    bottom: 120%;
    right: -55%;
  }

  &:hover .pop {
    display: block;
  }

  #calendar__btn {
    position: relative;
  }
  
  ul {
    position: absolute;
    top: 50px;
    left: -80px;
    border-radius: 0.5em;
    display: none;
    width: 150px;

    &.open {
      display: block;
      z-index: 1;
    }
  }
}

// ---------------------------------------------
// メンバーリスト表示アイコン
.member__list .pop:before{
  @include popOutlet-top();
  top: 100%;
  left: 55%;
}
.member__list {  
  position: relative;

  span {
    @include pop();
    display:none;
    width: 110px;
    bottom: 120%;
    right: -40%;
  }

  &:hover .pop {
    display: block;
  }

  #member__btn {
    position: relative;
  }
  
  ul {
    position: absolute;
    top: 50px;
    left: -20px;
    border-radius: 0.5em;
    display: none;
    width: 100px;
    
    &.open {
      display: block;
      z-index: 1;
    }
  }
}


}

// -------------------------------------------------
// カレンダー部分
.simple-calendar{
  height: 100%;

  .fas {
    color: #00BCD4;
    font-size: large;
  }

  .calendar__month{

  }
  .calendar__heading{
    height: 50px;
  }

    // 前月表示アイコン
    #previous {
      position: relative;
      cursor: pointer;
      user-select: none;

      span {
        @include pop();
        display:none;
        padding: 10px;
        width: 50px;
        bottom: 120%;
        right: -60%;
      }

      &:hover .pop {
        display: block;
      }
    }
    #previous .pop:before{
      @include popOutlet-top();
      top: 100%;
      left: 55%;
    }
  
    // 翌月表示アイコン
    #next {
      position: relative;
      cursor: pointer;
      user-select: none;

      span {
        @include pop();
        display:none;
        padding: 10px;
        width: 50px;
        bottom: 120%;
        right: -60%;
      }

      &:hover .pop {
        display: block;
      }
    }
    #next .pop:before{
      @include popOutlet-top();
      top: 100%;
      left: 55%;
    }
    .calendar__title{
      font-family: cursive;
    }

    // 今日のカレンダーを表示
  #today {
    position: relative;
    cursor: pointer;
    user-select: none;
    span {
      display:none;
      @include pop();
    }
    &:hover .pop {
      display: block;
      color: white;
      width: 100px;
      left: -10%;
      top: 150%;
    }
  }
    #today .pop:before{
      @include popOutlet-bottom();
    }

  #yearMonth__btn {
    width: 90px;
  }

  #change__year {
    cursor: pointer;
    user-select: none;
  }

  #change__month {
    cursor: pointer;
    user-select: none;
  }

  .table {
    height: 90%;
  }
  .tr {
    height: 25%;
  }
  .td {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

    .weeks {

      .week {
          height: calc(100% / 5);
          font-family: cursive;

          div {
            font-family: cursive;
            height: calc(100% / 4);
          }

        .day {
          user-select: none;
          overflow: hidden;
          width: calc(100% / 7);
          padding: 0;
          
          &.wday-0 {
            color: red;
          }
          
          &.wday-6 {
            color: blue;
          }
          
          &.prev-month {
            opacity: 0.5;
          }
          &.next-month {
            opacity: 0.5;
          }
          &.today .day__num{
            background-color: rgb(133, 186, 235);
          }
          .holiday {
            font-size: small;
            margin-right: 1px;
            color: white;
            background-color: red;
          }
          .event {
            margin-right: 1px;
            font-size: small;
            user-select: none;
            cursor: pointer;
            background-color: aqua;
            font-family: cursive;

            &:hover {
              box-shadow: 0 0 5px black;
            }
          }
        }
      }
    }
  }