// 全体のレイアウト
html {
  height: 100vh;
  background-color: whitesmoke;
  body {
    height: 100%;
    // font-family: cursive;
  }
}

.main {
  // ヘッダー
  .header {
    height: 50px;
    padding: 0 30px;
    border-bottom: 1px solid #dee2e6;
    
    nav {
      display: flex;
      justify-content: space-between;
    }

    &__left {
      display: flex;
      align-items: center;

      .title {
        line-height: 50px;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: x-large;
        border-right: 1px solid #dee2e6;
        padding-right: 30px;
        margin-left: 30px;
      }

    //ユーザー編集アイコンのマウスオーバー時の設定
      /* 吹出口部分を表示 */
      .user__edit .pop:before{
        @include popOutlet-bottom(-25%, 70%);
      }

      /* 基準位置の設定 */
      .user__edit {
        position: relative;
        margin-right: 10px;

          // マウスオーバーアクション用にpopクラスのspanタグを隠す
        span {
          display:none;
          @include pop();
        }
        /* マウスオーバー時にpopを表示 */
        &:hover .pop {
          display: block;
          color: white;
          width: 80px;                          /* 吹き出し全体の幅 */
          right : -18%;                           /* 表示位置 */
          top: 160%;                           /* 表示位置 */
        }
      }

      a {
        margin-left: 30px;
        text-decoration: none;
      }
    }
    .fas {
      color: #00BCD4;
      font-size: large;
    }
  }
  // メニュー
.menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  align-items: center;
  
  .fas {
    color: #00BCD4;
    font-size: large;
  }

  .left__items {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .event__item {


      // 予定作成アイコン
      #event__btn {
        display: inline-block;
        position: relative;
        cursor: pointer;
        user-select: none;

        span {
          display:none;
          @include pop();
          padding: 5px 0;
          width: 50px;
          top: 10%;
          left: 140%;
        }
      
        &:hover .pop {
          display: block;
        }
      }
        #event__btn .pop:before{
          @include popOutlet-right(30%, -15%);
      }
    }
  }

// コメント作成アイコン
  .comment__item {

    #comment__btn {
      display: inline-block;
      position: relative;
      cursor: pointer;
      user-select: none;
      
      span {
        display:none;
        @include pop();
        padding: 5px 0;
        width: 70px;
        top: 10%;
        left: 140%;
      }
      
      &:hover .pop {
        display: block;
      }
    }
    #comment__btn .pop:before{
      @include popOutlet-right(30%, -10%);
    }
  }

// --------------------------------------
  .right__items {
    display: inline-flex;
    align-items: center;
    margin-right: 50px;

    .calendar__menu {
      display: flex;
      align-items: center;
      margin-right: 20px;

      // カレンダー作成アイコンのpop
      #calendar__add {
        position: relative;

        a {
          text-emphasis: none;
        }
        
        span {
          @include pop();
          display:none;
          width: 110px;
          bottom: 160%;
          right: -230%;
        }
        
        &:hover .pop {
          display: block;
        }
      }
      #calendar__add .pop:before{
        border-top: 10px solid #00BCD4; /* 吹き出し口の高さ・色 */
        border-left: 5px solid transparent;    /* 吹き出し口の幅１／２ */
        border-right: 5px solid transparent;   /* 吹き出し口の幅１／２ */
        top: 100%;                             /* 吹き出し口の位置調整 */
        left : 55%;                              /* 吹き出し口の横位置 */
        content: "";                       /* コンテンツの挿入 */
        position: absolute;                /* 親要素を基準 */
      }
      
      // カレンダー編集アイコンのpop
      #calendar__edit {
        margin: 0 20px;
        position: relative;
        
        a {
          text-emphasis: none;
        }

        span {
          @include pop();
          display:none;
          width: 110px;
          bottom: 160%;
          right: -220%;
        }
        
        &:hover .pop {
          display: block;
        }
      }
      #calendar__edit .pop:before{
        @include popOutlet-top();
      }
      
      
      // カレンダー切替アイコン
      .calendar__change .pop:before{
        @include popOutlet-top();
      }
      
      .calendar__change {
        position: relative;
        
        span {
          @include pop();
          display:none;
          width: 110px;
          bottom: 160%;
          right: -220%;
        }
        
        &:hover .pop {
          display: block;
        }
        
        #calendar__btn {
          position: relative;
          display: inline-block;
          user-select: none;
          cursor: pointer;

          ul#calendar__name {
            position: absolute;
            top: 50px;
            left: -80px;
            border-radius: 0.5em;
            display: none;
            width: 150px;
            background-color: #00BCD4;
            
            &.open {
              display: block;
              z-index: 10;
            }

            li:hover {
              border-radius: 0.5em;
              background-color: rgba(0, 247, 255, 0.7);
            }
            a {
              display: block;
              padding-left: 5px;
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
      
      // ---------------------------------------------
      // メンバーリスト表示アイコン
      .member__menu .pop:before{
        @include popOutlet-top();
      }
      .member__menu {  
        position: relative;
        margin-right: 30px;
        
        span {
          @include pop();
          display:none;
          width: 110px;
          bottom: 160%;
          right: -130%;
      }
      
      &:hover .pop {
        display: block;
      }
      
      #member__btn {
        position: relative;
        display: inline-block;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
      }
      
      ul#member__name {
        position: absolute;
        top: 50px;
        left: -20px;
        border-radius: 0.5em;
        display: none;
        width: 100px;
        background-color: #00BCD4;
        
        &.open {
          display: block;
          z-index: 10;
        }
        
        li:hover {
          background-color: rgba(0, 247, 255, 0.7);
          border-radius: 0.5em;
        }
        a {
          display: block;
          padding-left: 5px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }  
  }
}
// --------------------------------
// メインコンテンツ
.main__contents {
  height: calc(100% - 102px);
  display: flex;
  justify-content: space-around;
  
  #side__bar {
    display: none;
    width: 0%;
    border-collapse: collapse;
    border-right: 1px solid #dee2e6;
    padding-bottom: 50px;
    
    &.open {
      display: block;
      width: 25%;
    }
  }
  #main__calendar {
    width: 100%;
    padding: 0 30px 50px 0;
    &.open {
      width: 75%;
    }
  }
}