// コメントリスト
.side__comments {
  overflow: auto;
  height: 70vh;
  margin-top: 10px;

  h6 {
    padding: 10px 15px;
  }

  #comment__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    // 個別コメントの設定
  .comment__container {
    height: 70px;
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: xx-small;
    position: relative;
    background-color: rgba(121, 218, 248, 0.8);
    overflow: hidden;

    .comment__content {
      display: flex;
      justify-content: space-between;
      
      .comment__trash--btn {
        padding: 0;
        margin-right: 5px;
        font-size: small;
        cursor: pointer;
        user-select: none;
        color: rgba(243, 66, 60, 0.8);
      }
    }
    .comment__text {
      overflow-wrap: break-word;
    }
  }
  }

// コメント作成フォームを隠す設定
  #comment__form {
    display: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    
    &.open {
      display: block;
    }
    .formField {
      padding-right: 15px;
      &__input {
        margin-bottom: 5px;

        textarea {
          width: 90%;
          outline: 0;
          padding: 5px 10px;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          
          &:focus {
            border: 1px solid #00BCD4;
            box-shadow: 0 0 0 0.2rem rgba(0, 240, 248, 0.3);
          }
        }
      }
      &__submit {
        text-align: right;

        .comment__submit {
          padding: 0;
          @include calendarBtn (50px);
          margin-right: 10px;
          i {
            font-size: large;
            color: #00BCD4;
          }
        }
      }
    }
  }
}