h6.event {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

// 予定リストのサイドバー
.side__events {
  overflow: auto;
  height: 70vh;
  margin-top: 10px;
}

.event__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event__container {
  height: 70px;
  width: 90%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: xx-small;
  position: relative;
  background-color: rgba(121, 218, 248, 0.8);
  overflow: hidden;
  
  .link__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    text-indent:-999px;
    z-index: 1;
  }

  .event__top {
    display: flex;
    justify-content: space-between;
  }

  .event__day {
    display: flex;
  }

  .bar {
    margin: 0 5px;
  }

  .event__time {
    display: flex;
  }

  .event__done--btn {
      padding: 0;
      margin-right: 5px;
      font-size: small;
      cursor: pointer;
      user-select: none;
      color: royalblue;
  }
}
  
// event-newビュー
#mask {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &.hidden {
    display:none;
  }
}

#event {
  background-color: rgb(133, 186, 235);
  width: 50%;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 5px black;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: modal 0.5s forwards;
  z-index: 10;

  &.hidden {
    display:none;
  }
}

#event__close--new {
  cursor: pointer;
  user-select: none;
}

// モーダルアニメーション
@keyframes modal {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  } 

  100% {
    transform: translateZ(5px);
    transform: none;
    opacity: 1;
    
  } 
}

#mask__edit {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &.hidden {
    display:none;
  }
}

#event__edit {
  background-color: rgb(133, 186, 235);
  width: 50%;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 5px black;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: modal 0.5s forwards;
  z-index: 10;

  &.hidden {
    display:none;
  }
}

#event__close--edit {
  cursor: pointer;
  user-select: none;
}

// モーダルアニメーション
@keyframes modal {
  0% {
    transform: translateY(50%);
    opacity: 0;
    animation-timing-function: ease-out;
  } 

  100% {
    transform: translateZ(5px);
    transform: none;
    opacity: 1;
    
  } 
}